<!DOCTYPE html><!--店舗詳細画面からレビュー投稿一覧ページ,レビューを見るをクリックすると出てくるようにしたい-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
  <head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>
    
    <!--Flatpicker-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>レビュー一覧</title>
  </head>
  <body>
    <div class="nagoymeshi-wrapper">
    <!--ヘッダー-->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyemeshi-container">
        <div class="row justify-content-center">
          <div class="col-xxl-9 col-xl-10 col-lg-11">
            <nav class="mb-4" style="--bs-breadcrumb-divider:'>';">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants?restaurantsId=__${restaurants.getId()}__}">店舗一覧</a></li>
                <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
              </ol>
            </nav>

            <h1 class="mb-4 text-center" th:text="${restaurants.getName()} + 'のレビュー一覧'"></h1>

            <div th:if="${errorMessage}" class="alert alert-danger">
              <span th:text="${errorMessage}"></span>
            </div>

            
                
            
          </div>
        </div>
      </div>
    </main>

    <!--フッター-->
    <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
      
  </body>
</html>