<!DOCTYPE html><!--店舗詳細画面からレビュー投稿一覧ページ,レビューを見るをクリックすると出てくるようにしたい-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
  <head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>
    
    <!--Flatpicker-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>レビュー一覧</title>
  </head>
  <body>
    <div class="nagoyameshi-wrapper">
    <!--ヘッダー-->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyemeshi-container">
        <div class="row justify-content-center">
          <div class="col-xxl-9 col-xl-10 col-lg-11">
           	 <nav class="mb-4" style="--bs-breadcrumb-divider:'>';">
             	 <ol class="breadcrumb mb-0">
                	<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                	<li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                	<li class="breadcrumb-item"><a th:href="@{/restaurants?restaurantsId=__${restaurants.getId()}__}">店舗詳細</a></li>
               	    <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
              	 </ol>
           	 </nav>
            
             <div th:if="${errorMessage}" class="alert alert-danger">
                <span th:text="${errorMessage}"></span>
             </div>
			
			 <div>
			   <h1 class="mb-4 text-center" th:text="${restaurants.getName()} + 'のレビュー一覧'"></h1>
             </div>
			 <!--レビューの表示-->
			 <div th:if="${#lists.isEmpty(reviews)}" class="row row-cols1 row-cols-md-2 g-4 mb-4">
					<div class="col" th:each="review : ${reviewPage}">
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<!--名前の表示-->
									<h3 class="font-weight-bold" th:text="${review.getUser().getName()}"></h3>
								 </div>
								
								<!--名前以外のレビュー内容表示-->
								<div class="review-item">
									<div class="star-rating">
										<span th:each="star : ${#numbers.sequence(1,5)}" th:text="${star <= review.getScore()} ? '&#9733;' : '&#9734;'"></span>
									</div>	
									<p th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></p>
									<p th:text="${review.getContent}"></p>
								</div>
								
							 </div>
						  </div>
					 </div>
				</div>
				
	

            
            <!--ページネーション-->
			<div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center">
				<nav aria-label="レビュー一覧ページ">
					<ul class="pagination">
						<li class="page-item">
						   <span th:if="${reviewPage.isFirst()}" class="page-link disabled">前</span>
						   <a th:unless="${reviewPage.isFirst()}" th:href="@{/review/restaurants/__${restaurants.getId()}__/review(page=${reviewPage.getNumber() - 1})}" class="page-link nagoyameshi-page-link">前</a>
						</li>
							<li th:each="i : ${#numbers.sequence(0, reviewPage.getTotalPages() -1)}" class="page-item">
							  <span th:if="${i == reviewPage.getNumber()}" class="page-link active nagoyameshi-active" th:text="${i + 1}"></span>
							  <a th:unless="${i == reviewPage.getNumber()}" th:href="@{/review/restaurants/__${restaurants.getId()}__/review(page=${i})}" class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
							</li>
						    <li class="page-item">
							  <span th:if="${reviewPage.isLast()}" class="page-link disabled">次</span>
							  <a th:unless="${reviewPage.isLast()}" th:href="@{/review/restaurants/__${restaurants.getId()}__/review(page=${reviewPage.getNumber() + 1})}"  class="page-link nagoyameshi-page-link">次</a>
							</li>
					</ul>
				</nav>
			 </div>
            
                
          </div>
        </div>
      </div>
    </main>

    <!--フッター-->
    <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
      
  </body>
</html>