<!DOCTYPE html><!--店舗詳細画面からレビューの投稿ができるフォーム-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
  <head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    
    <!--Flatpicker-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>レビュー一覧</title>
  </head>
  <body>
    <div class="nagoyameshi-wrapper">
    <!--ヘッダー-->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <nav class="mb-4" style="--bs-breadcrumb-divider:'>';">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants?restaurantsId=__${restaurants.getId()}__}">店舗詳細</a></li>
                <li class="breadcrumb-item active" aria-current="page">レビュー投稿</li>
              </ol>
            </nav>
            
            <div th:if="${successMessage}" class="alert alert-info">  <!--レビューの投稿ができたら表示するメッセージ-->
				<span th:text="${successMesssage}"></span>
			</div>

            <h1 class="mb-4 text-center" th:text="${restaurants.getName()} + 'のレビュー投稿'"></h1>
            <!--フォームあとで確認-->
 			<form method="post" th:action="@{/restaurants/review/create}"　th:object="${reviewInputForm}" enctype="multipart/form-data">
				<input type="hidden" th:field="*{restaurantId}" th:value="${reviewInputForm.getRestaurantId()}"><!--restaurantIdを登録処理に渡す-->
				
				<!--評価-->
				<div class="form-group">
					<label for="score" class="col-md-3 col-form-label text-md-left fw-bold">評価</label>
					<select class="nagoyameshi-star" th:field="*{score}">
						<option value="1">★</option>
						<option value="2">★★</option>
						<option value="3">★★★</option>
						<option value="4">★★★★</option>
						<option value="5">★★★★★</option>
					</select>
					<span th:if="${#fields.hasErrors('score')}"  th:errors="*{score}"></span>
				</div>
				
				<!--コメント-->
				<div class="form-group row mb-3">
					<label for="content" class="col-md-3 col-form-label text-md-left fw-bold">コメント</label>
				   <div class="col-md-8">
					<textarea th:field="*{content}" required=""  class="form-control" cols="30" rows="5"></textarea>
					<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                   </div>
				</div>
				
				<!--投稿レビューの登録ボタン-->
				<div class="d-flex justify-content-center align-items-center">
					<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">投稿</button>
				</div>
			</form>	
				
          </div>
        </div>
      </div>
    </main>

    <!--フッター-->
    <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
  </body>
</html>