<!DOCTYPE html><!--店舗詳細ページ-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
  <head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>
    
    <!--Flatpicker-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>店舗詳細</title>
  </head>
  <body>
    <div class="nagoyameshi-wrapper">
    <!--ヘッダー-->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyemeshi-container">
        <div class="row justify-content-center">
          <div class="col-xxl-9 col-xl-10 col-lg-11">
            <nav class="mb-4" style="--bs-breadcrumb-divider:'>';">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
              </ol>
            </nav>

            <h1 class="mb-4 text-center" th:text="${restaurants.getName()}"></h1>

            <div th:if="${errorMessage}" class="alert alert-danger">
              <span th:text="${errorMessage}"></span>
            </div>

            <div class="mb-4">
              <img th:if="${restaurants.getImageName()}" th:src="@{/storage/__${restaurants.getImageName()}__}" class="w-100" alt="店舗画像">
              <ima th:unless="${restaurants.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
            </div>

            <div class="container">
              <div class="row">
                <div class="col-lg-8 container mb-4">
                  <div class="row pb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">店舗名</span>
                    </div>

                    <div class="col">
                      <span th:text="${restaurants.getName()}"></span>
                    </div>
                  </div>

                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">説明</span>
                    </div>

                    <div class="col">
                      <span class="nagoyameshi-pre-wrap" th:text="${restaurants.getDescription}"></span>
                    </div>
                  </div>
              
                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">最低価格</span>
                    </div>

                    <div class="col">
                      <span th:text="${#numbers.formatInteger(restaurants.getPrice(), 1,'COMMA')+ '円'}"></span>
                    </div>
                  </div>

                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">席数</span>
                    </div>                  

                    <div class="col">
                      <span th:text="${restaurants.getCapacity() + '人'}"></span>
                    </div>
                  </div>

                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">営業時間</span>
                    </div>
                    
                    <div class="col">
                      <span th:text="${restaurants.getOpeningTime() + 'から' + restaurants.getClosingTime() + 'まで'}"></span>
                    </div>
                  </div>
                  
                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">定休日</span>
                    </div>
                    
                    <div class="col">
                      <span th:text="${restaurants.getHoliday()}"></span>
                    </div>
                  </div>

                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">電話番号</span>
                    </div>                    

                    <div class="col">
                      <span th:text="${restaurants.getPhoneNumber()}"></span>
                    </div>
                  </div>     
                  
                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">郵便番号</span>
                    </div>   
                    
                    <div class="col">
                      <span th:text="${restaurants.getPostalCode()}"></span>
                    </div>
                  </div>    
                  
                  <div class="row pb-2 mb-2 border-bottom">
                    <div class="col-4">
                      <span class="fw-bold">住所</span>
                    </div>   
                    
                    <div class="col">
                      <span th:text="${restaurants.getAddress()}"></span>
                    </div>
                  </div>     
                </div>
                
                <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です</p>
                      <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>
                    </div>
                  </div>
                </div>
                
                <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
					<div class="card">
						<div class="card-body">
							<form method="get" th:action="@{/restaurants/__${restaurants.getId()}__/reservations/input}" th:object="${reservationInputForm}">
								<!--来店日-->
								<div class="form-group mb-2">
									<label for="reservedDate" class="col-form-label text-md-left fw-bold">来店日</label>
									<div th:if="${#fields.hasErrors('reservedDate')}" class="text-danger small mb-2" th:errors="*{reservedDate}"></div>
									<input type="text" class="form-control" th:field="*{reservedDate}">
								</div>
								
								<!--来店時間-->	
								<div class="form-group mb-2">
									<label for="reservedTime" class="col-form-label text-md-left fw-bold">来店時間</label>
									<div th:if="${#fields.hasErrors('reservedTime')}" class="text-danger small mb-2" th:errors="*{reservedTime}"></div>
									<input type="text" class="form-control" th:field="*{reservedTime}">
								</div>
								
								<!--来店人数-->
								<div class="form-group mb-4">
									<label for="numberOfPeople" class="col-form-label text-md-left fw-bold">来店人数</label>
									<div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>
									<input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">
								</div>
								
								<div class="form-group">
									<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				               
				                <!--レビュー機能-->
				                <!--ログインしていたら表示させるようにするOK-->
				                <h2 class="mb-4 text-center">レビュー</h2>
				                <div sec:authorize="isAuthenticated()" class="form-group text-center">
									<form method="get" th:action="@{/restaurants/__${restaurants.getId()}__/review/input}">
										<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">レビュー投稿する</button>
									</form>
								</div>
								 
								 <div th:unless="${#lists.isEmpty(reviews)}" class="row row-cols1 row-cols-md-2 g-4 mb-4">
									 <div th:each="review, interStat : ${reviews}" th:if="${interStat.index < 6}">  <!--ループ条件の追加6件以上は表示しないOK-->
										 <div class="col">
											 <div class="card">
												 <div class="card-body">
													 <div class="d-flex justify-content-between">
														<!--名前の表示OK-->
														<h3 class="font-weight-bold" th:text="${review.getUser().getName()}"></h3>
															
															
														 <!--<span sec:authorize="isAuthentucated()" th:if="${#authentication.principal.user.id == review.getUser().getId()}">-->
															 
															<!--要訂正：編集のボタンの位置
														 	<a th:href="@{restaurants/__${restaurants.getId()}__/review/__${review.getId()}__/edit}" class="me-2">編集</a>
														 	
														 	<a href="#" class="nagoyameshi-link-danger" data-bs-toggle="modal" 
														 	   th:data-bs-target="${'deleteReviewModal' + review.getId()}">削除</a>--> 
														 	   
														 	
														 	    
														 	  </div>
														 </span>
													 </div>
													 
													<!--名前以外のレビュー内容OK-->
													<div class="review-item"> 
														 <div class="star-rating">
														    <span th:each="star : ${#numbers.sequence(1,5)}" th:text="${star <= review.getScore()} ? '&#9733;' : '&#9734;'"></span>
													 	</div>
													 	<p th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></p>
													 	<p th:text="${review.getContent}"></p>
													 </div>
													 
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
								 
								 <!--レビューがあれば全て見れるようにしてなければないと表示するOK-->
								 <div th:unless="${not #lists.isEmpty(reviews)}">
									 <div class="row d-flex justify-content-center">
										 <p class="text-center">レビューがありません</p>
									　</div>
								</div>
							    <div th:if="${not #lists.isEmpty(reviews)}">	    
									<a th:href="@{/restaurants/__${restaurants.getId()}__/review}" class="row d-flex justify-content-center ">全てのレビューを見る</a> 
								 </div>
								  
					 </div>
				          	     				          	                             
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--フッター-->
    <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    
    <!--Flatpicker-->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
        
        <script th:src="@{/js/flatpickr.js}"></script>      
  </body>
</html>